* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.item {
  margin-bottom: 27px;
  font-size: 14px;
}
.require {
  color: red;
  padding: 4px;
}
.tips {
  color: #767c85;
  font-size: 12px;
  margin-top: 2px;
}

button {
  padding: 5px 15px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
  border: 1px solid rgb(65, 127, 249);
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
  background-color: rgb(65, 127, 249);
}